body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
  color: #333;
}
// http://codepen.io/sebj54/pen/oxluI
.btn {
  position: relative;

  display: block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #2ecc71;
  color: #ecf0f1;

  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn--update {
  margin: 30px;
}

#practice1 {
  width: 320px;
  height: 240px;
  border: 1px solid #eee;

  rect {
    stroke: none;
    fill: #76A7FA;
  }
}

.axis {
  text {
    font-size: 12px;
  }
  path,
  line {
    fill: none;
    stroke: #000;
  }
}

